# Ignore reference files folder
reference_files/
Catalyst_Partners_Summary.xlsx
uploads/
temp_business_data/
users/

# Ignore session logs
*.log
flask_session/

# Ignore session logs
session_logs/

# Common files to ignore
.DS_Store
__pycache__/
*.pyc
.env

static/json_structure_data/GRADING_business_description_structure.json
static/json_structure_data/GRADING_FACES_structure.json
static/json_structure_data/GRADING_MMMM_structure.json
static/json_structure_data/GRADING_SUCCESS_structure.json

flask_session_data/
